@import "tailwindcss";

/* customowy scrollbar */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5a67d8; 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1a202c; 
  }

  